/* importing fonts*/
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html,body{
    height: 100%;
}
body{
    font-family: Besley,Roboto, sans-serif 'Courier New', Courier, monospace,serif;
    margin:0;
    background: #aae;
   }

.header{
    background: #eeec74;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px #272626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:8px;
}
.profile-image{
    background: #4c89e6;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
    border-radius: 50%;
    width:48px;
    height: 48px;

}
.logo{
    color:#2363d8d3;
    border-radius: 8px;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}

button{
    border:none;
    border-radius: 8px;
    background: #197fb9;
    color: white;
    padding: 8px 24px;
}

a{
    /* removes the line under the links*/
    text-decoration: none;
    color: #197fb9;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}
.left, .right{
    display: flex;
    align-items: center;
    gap: 16px;
}
/* CPD style */


/* images slide section */
.containt{
    text-align: center;

}
img{
    width: 150px;
    height: 110px;
}
.title-two{
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 32px;
}
.course-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}
.info{
    max-width: 200px;
}
/* modal styling */
.modal{
    background: white;
    width: 480px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #070000;
    color: white;
}