@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body{
    margin:0;
    background: #eee;
    font-family: Besley, serif;
}

.header{
    background: #eeec74;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px #272626;
}
.logo{
    color:#2363d8d3;
    border-radius: 8px;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}
button{
    border:none;
    border-radius: 8px;
    background: #197fb9;
    color: white;
    padding: 8px 24px;
}
a{
    /* removes the line under the links*/
    text-decoration: none;
    color: #197fb9;
}
ul{
    list-style-type: none;
}